.MainChat
  .MainChat__group-info
    .MainChat__group-info__left
      .MainChat__group-info__left__group-name
        =@group.name
      .MainChat__group-info__left__menber-name
        Menber :
        - @group.users.each do |user|
          =user.name
    .MainChat__group-info__right
      = link_to 'Edit' , '#'

  .MainChat__message
    = render @messages

  .MainChat__form
    = form_with model: [@group, @message], html: {class: "MainChat__form"}, local: true do |f|
      .MainChat__form__box
        = f.text_field :body, class: 'MainChat__form__box__input-text', placeholder: 'type a message'
        = f.label :image, class: 'MainChat__form__box__input-image' do
          = icon('far', 'image', class: 'MainChat__form__box__icon')
          = f.file_field :image, class: 'MainChat__form__box__input-image__file'
      = f.submit 'Send', class: 'MainChat__form__submit-btn'